.centrado{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
}


.SubMenu{
	float: left;
	margin-top: 7px;
}

.tabla{
	width: 20%;
	padding-left: 44%;

}
.metaDiv{
	padding-top: 50px;	
	text-align: center;
}
.items{
	padding-left:44%;
}
